html, body {
      background-image: url(img/background.jpg);
      background-size: 1920px 1080px;
      margin: 0;
      padding: 0;
}

img {max-width: 100%;}

body {
      display: grid;
      font-family: "Segoe UI", sans-serif;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(auto, auto);
      color: #3e3e3e;
      text-shadow: 0.4px 0.4px 0.4px rgba(0,0,0,.2);
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}
a:hover {
            cursor: url("https://i.imgur.com/IXULuQ1.png"), auto;
        }
h1 {
      font-family: "Script";
      font-weight: bold;
      grid-column: span 3;
      text-align: center;
      color: #F8C8C8;
}

#snowflakeContainer {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        
        .snowflake {
            padding-left: 15px;
            font-size: 14px;
            line-height: 24px;
            position: fixed;
            color: #ebebeb;
            user-select: none;
            z-index: 1000;
            -moz-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }
        
        .snowflake:hover {
            cursor: default
        }


#wrapper {
      display: grid;
      grid-column: 3 / 11;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-row-gap: 10px;
      margin-top: 3.6rem;
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

#clock-box, #info {
      grid-column: span 3;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

#clock-box #clock {
      grid-column: 4 / 10;
      background-color: #F8C8C8;
      padding: .6rem 2rem;
      padding-top: .8rem;
      text-align: center;
      font-size: 2.4rem;
      border-radius: 10rem;
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

date, time {
      display: block;
}

date {
      font-size: 18px;
}

time {
      font-family: "Arial", sans-serif;
      line-height: 3.2rem;
      letter-spacing: 2px;
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

.avt {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

#info {
      margin-top: 2.6rem;
}

#heart {
      grid-column: span 2;
      display: grid;
      grid-template-rows: 2;
      font-size: 44px;
      color: #ffb6c1;
      align-self: center;
      padding-bottom: 2.6rem;
      text-align: center;
}

anni {
      font-size: 16px;
      letter-spacing: 0.2px;
}
a {
      color: #ffb6c1;
	  cursor: url("https://i.imgur.com/IXULuQ1.png"), auto;
}

#info .one {
      grid-column: 3 / 6;
      text-align: center;
      color: #ffb6c1;
}

#info .two {
      grid-column: 8 / 11;
      text-align: center;
      color: #ffb6c1;
}


#content-body {
            position: relative;
            margin-top: 0px;

        }


#link-box {
            position: relative;
			background-color: #FFF;
			border-radius: 50px;
			height: 700px;
            width: 100%;
			margin-top: 15px;
			padding-top: 25px;
			padding-left: 15px;
			padding-right: 15px;
        }


.link-item {
            position: relative;
            display: grid;
            grid-template-columns: 70px auto 65px;
            height: 70px;
            width: 100%;
			background-color: #F8C8C8;
            border-radius: 50px;
            margin-bottom: 15px;
            -webkit-box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, .4);
            box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, .1);
            transition: all 250ms ease-in-out;
        }
		.link-item p {
            margin: 0;
			color: #000000;
            font-weight: 600;
        }
		.link-item p:hover {
			color: #F8C8C8;
        }
		
        .link-item:hover {
			color: #F8C8C8;
            background-color: #fafafa;
			
        }
		
        .link-content {
            padding-top: 15px;
			padding-left: 45px;
        }
        
        .link-content p {
            margin: 0;
            font-weight: 600;
        }
        
		.link-content p:hover {
            margin: 0;
			color: #F8C8C8;
            font-weight: 600;
        }
		
        .link-content span {
            position: absolute;
            font-weight: 400;
            font-size: 14px;
            bottom: 15px;
            color: #a6a9b1;
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            transition: all 250ms;
            cursor: pointer;
        }
        
        .link-content span:hover {
            color: #7c7e83;
        }
.link-btn-chill {
            display: inline-flex;
            justify-content: center;
            align-content: center;
			padding-left: 60px;
            position: relative;
            margin-top: 15px;
            font-size: 14px;
            width: auto;
            font-weight: 600;
			color: #7c7e83;
			
        }
        
        .link-btn-chill::before {
            position: absolute;
            content: "";
            padding-left: 7px;
            padding-right: 7px;
            width: 40px;
            height: 18px;
            background-color: currentColor;
            opacity: .2;
            border-radius: 5px;
            top: -1px;
            transition: all 250ms;
        }
        
        .link-btn-chill {
            transition: all 250ms ease-in-out;

        }
        
		.link-btn-chill:hover {
			color: #000000;
        }
		
        .link-btn-chill:hover::before {
            opacity: .5;
			color: #000000;
			background-color: #dff9fb;
        }
		
footer {
      grid-column: span 3;
      text-align: center;
      font-size: 1.6rem;
      font-weight: lighter;
      margin-top: 1.2rem;
      color: #ffb6c1;
}

#music {
      grid-column: 2;
      position: relative;
      z-index: 1000;
      opacity: .4;
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

#mask {
      background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
      opacity: .42;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
	  cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

@media (max-width: 992px) {
      #wrapper {
            grid-column: span 12;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }

      #clock-box #clock {
            grid-column: 2 / 12;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }

      .avt {
            width: 120px;
            height: 120px;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }

      #info .one, #info .two{
            grid-column: span 12;;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }

      #heart {
            grid-column: span 12;
            padding-bottom: 1rem;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }

      footer {
            font-size: 1.2rem;
            margin: 0;
            padding-bottom: 2rem;
			cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
      }
}
